:root {
  --background-color: #f3f3f3;
  --font-family: sans-serif;
  --fieldset-background-color: #e8e6f7;
  --legend-background-color: #000000;
  --legend-color: rgb(211, 211, 211);
  --form-border-color: #2f2f2f;
  --label-color: rgb(73, 73, 73);
  --input-background-color: #f7f7f7;
  --submit-button-background-color: #342fea;
  --submit-button-border-color: #3498db;
  --submit-button-hover-background-color: #2980b9;
  --error-list-background-color: #c34343;
  --error-list-border-color: #870d0d;
  --error-color: #dc3543;
  --welcome-title-background-color: #000000;
  --welcome-title-color: #e8e6f7;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
}

p {
  margin: 0;
}

#login-form {
  width: 400px;
  min-width: 250px;
  margin: 20px auto;
  position: relative;
}

#login-form .fieldset {
  background-color: var(--fieldset-background-color);
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid var(--form-border-color);
}

.cool-heading {
  background: var(--legend-background-color);
  padding: 30px 20px;
  width: 100%;
  color: var(--legend-color);
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

.cool-heading img {
  width: 60px;
}

form {
  margin: 0 auto;
  display: grid;
  gap: 12px;
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
}

label {
  margin-left: 5px;
  position: relative;
  display: block;
  color: var(--label-color);
  text-shadow: 0 1px white;
  font-weight: bold;
}

::-webkit-input-placeholder {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}
::-moz-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}
:-ms-input-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
}

input {
  padding: 15px 20px;
  border-radius: 18px;
  margin: 5px auto;
  background-color: var(--input-background-color);
  border: 1px solid silver;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow:
    inset 0 1px 5px rgba(0, 0, 0, 0.2),
    0 1px rgba(255, 255, 255, 0.8);
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

input:active,
input:focus,
input:focus-visible {
  outline: none;
  border-color: silver;
  background-color: white;
}

#login-form input[type="submit"],
button {
  border-radius: 18px;
  font-family: var(--font-family);
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--submit-button-background-color);
  padding: 10px;
  color: white;
  border: 1px solid var(--submit-button-border-color);
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
}

#login-form input[type="submit"]:hover {
  background-color: var(--submit-button-hover-background-color);
}

#login-form input[type="submit"]:active {
  background: var(--submit-button-background-color);
}

.parsley-error-list {
  background-color: var(--error-list-background-color);
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
  border: 1px solid var(--error-list-border-color);
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: -1px;
  text-shadow: 0px 1px 1px #460909;
  font-weight: 700;
  font-size: 12px;
}
.parsley-error {
  border-color: var(--error-list-border-color) !important;
  border-bottom: none;
}

#login-form select {
  width: 100%;
  padding: 5px;
}

::-moz-focus-inner {
  border: 0;
}

h1 {
  text-align: center;
  width: 100%;
}

.welcome-container {
  display: grid;
  gap: 16px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

button {
  padding: 10px 24px;
}

.welcome-title {
  background: var(--welcome-title-background-color);
  padding: 30px 20px;
  width: fit-content;
  border-radius: 18px;
  color: var(--welcome-title-color);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.welcome-button {
  width: fit-content;
}

.input-inner-group {
  display: grid;
  gap: 8px;
}

.error-message {
  font-size: 14px;
  color: var(--error-color);
  font-weight: bold;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.input-error {
  animation: shake 0.3s ease;
}

.input-error,
.input-error:active {
  border-color: var(--error-color) !important;
}
